nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5.5rem;
    width: 100vw;
    box-shadow: 1.5px 1.5px 1.5px 1.5px grey;
}
nav img{
    height: 3rem;
    width: 3rem;
}
nav ul{
    list-style: none;
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: space-evenly;
}
nav ul li{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.signup{
    height: 3rem;
    color:white;
    background-color: orange;
    width: 5rem;
}
.logout, .login{
    height: 3rem;
    color:orange;
    border: 1px solid orange;
    width: 5rem;
}